 <div class="text-center mt-5">
    <h2 class="display-4">You have Cancel the payment :(</h2>
    <p>Explore our products and add them to your cart!</p>
    <%= link_to 'Browse Products', products_path, class: 'btn btn-p btn-lg' %>
  </div>